body{

    font-family: "Montserrat";
}

#title{

    background-color: #ff4c68;
    color:#fff;
}

.big-heading{

    font-family: "Montserrat";
    font-size: 3rem !important;
    line-height: 1.5 !important;
}

h2{

    font-family: "Montserrat";
    font-size: 3rem !important;
    line-height: 1.5 !important;
}



.navbar-brand{

    font-family: "Ubuntu";
    font-size: 2.5rem !important;
    font-weight: bold;
}

.navbar{

    padding-bottom: 4.5rem !important;
}

.nav-item{

    padding:0 18px;
}

.nav-link{

    font-size: 1.2rem;
}

.download-button{

    margin:5% 3% 5% 0;
}

.title-image{

    width:20%;
    transform: rotate(25deg);
    position:absolute;
    right:25%;
    bottom:-6%;
}


.feature-box h3{

    font-family: "Montserrat";
    line-height: 1.5em;
}

#features{
    
    padding:7% 12%;
    background-color: white;
    position:relative;
}

.feature-box{
    
    text-align: center;
    padding:5%;
}

.icon{
    
    color:#ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    
    color:#ff4c68;
}

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color:#fff;
}

.carousel-item{
    
    padding:7% 12%;
}

.testimonial-image{
    
    width:10%;
    border-radius: 100%;
    margin:20px;
}

#press{
    
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    
    width:15%;
    margin:20px 20px 50px;
}

#pricing{
    
    padding:100px;
    text-align: center;
}

.pricing-column{
    
    padding:3% 2%;
}

@media (max-width:980px){

    .title-image{

        width:60%;
        position:static;
        transform: rotate(0);
    }
    #title{

        text-align: center;
    }
}

#cta{

    background-color: #ff4c68;
    color:white;
    text-align: center;
    padding: 7% 15%;
}

#cta h3{

    font-family: "Montserrat";
    font-size: 50px;
}

#footer{

    padding:7% 15%;
    text-align: center;
}

.footer-icon{

    margin:3% 1%;
}

.footer-paragraph{

    color:gray;
}